<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Final_Capstone_try.Properties.Settings.cookout_dataConnectionString"
            connectionString="server=cookout.cqow78y7vcx8.us-east-2.rds.amazonaws.com;user id=admin;password=1241273Aws;persistsecurityinfo=True;database=cookout_data;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>